<div class="row my-4">
  <div class="col-md-4">
    <div class="card bg-white text-center">
      <img
        class="card-img-top"
        src="images/background.jpg"
        alt="Image Background"
        width="100%"
      />
      <div class="card-body">
        <div class="profile-card">
          <div class="photo-profile">
            <img
              src="images/photo-profile.jpg"
              alt="Photo Profile"
              width="100%"
            />
          </div>
          <h1 class="name my-2">Syafiq Fajrian Emha</h1>
          <p class="mb-2">Back End Developer</p>
          <div class="socials">
            <a
              href="https://www.linkedin.com/in/syafiqfajrianemha/"
              target="_blank"
            >
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
