<div class="row my-4">
  <div class="col-md-4">
    <div class="card bg-white text-center mb-4">
      <img
        class="card-img-top"
        src="images/background.jpg"
        alt="Image Background"
        width="100%"
      />
      <div class="card-body">
        <div class="profile-card">
          <div class="photo-profile">
            <img
              src="images/photo-profile.jpg"
              alt="Photo Profile"
              width="100%"
            />
          </div>
          <h1 class="name my-2">Syafiq Fajrian Emha</h1>
          <p class="mb-2">Back End Developer</p>
          <div class="socials">
            <a
              href="https://www.linkedin.com/in/syafiqfajrianemha/"
              target="_blank"
              class="text-primary"
            >
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card bg-white p-4">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link bg-transparent active" id="nav-about-me-tab" data-toggle="tab" data-target="#nav-about-me" type="button" role="tab" aria-controls="nav-about-me" aria-selected="true">About Me</button>

          <button class="nav-link bg-transparent" id="nav-profile-tab" data-toggle="tab" data-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>

          <button class="nav-link bg-transparent" id="nav-contact-tab" data-toggle="tab" data-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
        </div>
      </nav>
      <div class="tab-content mt-3" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-about-me" role="tabpanel" aria-labelledby="nav-about-me-tab">📢 About Me will be available soon</div>

        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">📢 Profile will be available soon</div>
        
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">📢 Contact will be available soon</div>
      </div>
    </div>
  </div>
</div>