<div class="row my-4">
  <div class="col-md-4">
    <div class="card bg-white text-center mb-4">
      <img
        class="card-img-top"
        src="images/background.jpg"
        alt="Image Background"
        width="100%"
      />
      <div class="card-body">
        <div class="profile-card">
          <div class="photo-profile">
            <img
              src="images/photo-profile.jpg"
              alt="Photo Profile"
              width="100%"
            />
          </div>
          <h1 class="name my-2">Syafiq Fajrian Emha</h1>
          <p class="mb-2">Backend Developer</p>
          <p class="font-italic mb-2">I am always excited to take on new challenges and contribute to projects that have a big impact.</p>
          <div class="socials">
            <a
              href="https://www.linkedin.com/in/syafiqfajrianemha/"
              target="_blank"
              class="text-primary"
            >
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card bg-white p-4">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link bg-transparent active" id="nav-about-me-tab" data-toggle="tab" data-target="#nav-about-me" type="button" role="tab" aria-controls="nav-about-me" aria-selected="true">About Me</button>

          <button class="nav-link bg-transparent" id="nav-profile-tab" data-toggle="tab" data-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>

          <button class="nav-link bg-transparent" id="nav-contact-tab" data-toggle="tab" data-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
        </div>
      </nav>
      <div class="tab-content mt-3" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-about-me" role="tabpanel" aria-labelledby="nav-about-me-tab">
          Hello! I'm Syafiq Fajrian Emha, a dedicated Backend Developer with a passion for creating efficient, scalable, and robust applications using Laravel. With 1 year of experience in web development, I specialize in building and maintaining server-side logic, ensuring seamless integration of front-end elements into applications.
          <br><br>
          My journey in backend development began with a strong interest in problem solving and a love for coding. Over the years, I honed my skills in Laravel, mastering its advanced features to deliver high-quality software solutions. From developing RESTful APIs to optimizing database performance, I take pride in writing clean, maintainable code that adheres to best practices.
          <br><br>
          Collaboration is key to my workflow. I enjoy working with cross-functional teams, understanding project requirements and translating them into technical specifications. My proactive approach to learning and keeping up to date with the latest industry trends ensures that I am constantly improving and adapting to new technologies.
        </div>

        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">📢 Profile will be available soon</div>
        
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">📢 Contact will be available soon</div>
      </div>
    </div>
  </div>
</div>