<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Welcome to Syafiq Fajrian Emha personal website, where you can explore his professional journey, projects, and experience.">
    <meta name="keywords" content="syafiq fajrian emha, syafiqfajrianemha, syafiq, fajrian, emha, syafiq emha">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="styles.css" />

    <title><%= title %></title>
  </head>
  <body>
    <div class="container"><%- body %></div>

    <script src="jquery/jquery-3.5.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
